.wrapper {
  position: relative;
  background: var(--surface-blue);
  content: " ";
  height: 12rem;
  width: calc(100% - 5rem);
  margin-left: auto;
  margin-top: 3rem;
}

.main {
  position: relative;
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: 100%;
  padding: 2rem;
}
